<web-app>

    <servlet>
        <servlet-name>AddExpense</servlet-name>
        <servlet-class>servlet.AddExpenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExpense</servlet-name>
        <url-pattern>/addExpense</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewExpense</servlet-name>
        <servlet-class>servlet.ViewExpenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewExpense</servlet-name>
        <url-pattern>/viewExpense</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteExpense</servlet-name>
        <servlet-class>servlet.DeleteExpenseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteExpense</servlet-name>
        <url-pattern>/deleteExpense</url-pattern>
    </servlet-mapping>

</web-app>
